.gallery {
  height: 100vh;
  position: relative;
}

/* controls */

.controls {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 1px #cccccc;
  display: flex;
  justify-content: space-evenly;
  left: 10px;
  max-width: 90%;
  padding: 10px 15px;
  position: absolute;
  top: 10px;
  transition: all ease-in-out .3s;
  z-index: 1;
}

.controls label {
  font-family: var(--normal);
  font-weight: bold;
  font-size: .9em;
}

.controls div {
  margin-left: 30px;
}

.controls div input {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: default;
  font-family: var(--normal);
  margin-right: 10px;
  padding: 3px;
}

/* random-mode check */

.random-mode {
  margin-right: 10px;
}

.random-mode:checked {
  margin-right: 0;
}

.random-mode, .random-mode ~ label {
  cursor: pointer;
}

/* inactive status */

.inactive {
  background-color: var(--primary-light-color);
}

.inactive div,
.random-mode:checked ~ label {
  display: none;
}

/* images */

.image-list {
  align-items: center;
  background-color: #cccccc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
  justify-content: space-evenly;
  padding: 70px 20px;
  overflow-y: scroll;
  width: 100%;
}

.photo {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  transition: opacity ease-in-out .3s;
}

.photo:hover {
  cursor: zoom-in;
  opacity: 70%;
}
